####-*.patch
*.pyc
*.swp
*.exe
*.zip
*.msi
build/
dist/
*.egg/
electrum-git
trezor-git
contrib/build-wine/tmp/*
/electrum.py
contrib/pyinstaller/
Electrum_uno.egg-info/
gui/qt/icons_rc.py
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
